/*All colors Variables*/
#index {
  .custom_search_text {
    font-size: 11px;
    text-align: right;
    margin-right: 10px;
    color: grey;
  }
  a{
    color: grey;
    text-decoration: none;
  }
}